* {
  box-sizing: border-box;
}

/*Read More Style*/

.fswp-elt--read-more {
  cursor: pointer;
}

.fswp-elt--read-more-content {
  overflow: hidden;
}

.fswp-elt--read-more-content p:last-of-type {
  margin-bottom: 0;
}

.fswp-elt--read-more-main-wrapper .fswp-elt--read-more {
  display: inline-block;
  align-items: flex-start;
}

.fswp-elt--read-more.hide-icon .fswp-elt--read-more-icon,
.fswp-elt--read-more-icon.less {
  display: none;
}
